/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: 10%;
  }

  .texto {
    display: flex;
    align-items: center;
    margin-top: -2%;
    margin-bottom: -2%;
  }
  
  .info {
    color: rgb(255, 255, 255);
    font-family: 'Bebas Neue Pro', sans-serif;
    font-weight: bold;
    line-height: 0.7;
    font-size: 3em;
    margin-top: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
 .seccionDeOpciones {
    background-color: rgb(56, 174, 127);
    overflow: hidden;
  }
  
  .opciones {
    display: flex;
  }
  
  .opciones a {
    float: left;
    display: block;
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-family: 'Bebas Neue Pro', sans-serif;
  }
  
  .opciones a:hover {
    background-color: rgb(45, 139, 102);
    color: #fff;
  }
  
  .opciones a.active {
    background-color: rgb(45, 139, 102);
    color: #fff;
  }

  .prediccion-card {
    position: absolute;
    padding: 16px;
    margin: 16px;
    margin-left: 55%;
    margin-top: 10%;
    background-color: white;

    background-size: 90px;
  }
  .custom-font-size {
    font-size: 22px;
  }
  .custom-image {
    position: absolute; 
    margin-left: 1%;
    margin-top: 2%;
    width: 800px;
    height: 70%;
    border-radius: 10px;
  }