<head>
    <title>Modelo predictivo V1</title>
</head>

<header class="mat-elevation-z3" style="background-color: rgb(70, 218, 159)">
    <div class="texto">
        <div class="info">
          <div class="titulo">
            <p>Modelo predictivo de residuos electrónicos en Guayaquil</p>
          </div>
        </div>
      </div>
</header>
<body style="background-color: rgb(207, 233, 212)">
    <section class="seccionDeOpciones">
        <div class="opciones">
            <a id="acercaDe" routerLink="/acercaDe" routerLinkActive="active">Acerca de</a>
            <a id="datosEstadisticos" routerLink="/datosEstadisticos">Datos estadísticos actuales</a>
            <a id="modeloPrediccion" routerLink="/modeloPrediccion">Modelo de predicción por año</a>
            <a id="modeloPrediccion" routerLink="/prediccionFiltro">Modelo de predicción por filtros</a>
        </div>
      </section>


      <mat-card class="prediccion-card mat-elevation-z4">
        <mat-card-content>
          <p class="custom-font-size">
            Este sistema utiliza un modelo de red neuronal para realizar predicciones sobre la cantidad de residuos electrónicos generados, 
            en la ciudad de Guayaquil. El modelo toma en cuenta factores como el nivel educativo, 
            ingresos, y tipos de dispositivos desechados, junto con tasas de crecimiento específicas para realizar estimaciones futuras. 
            Al entrenar el modelo con datos de una muestra de 387 personas y proyectar el crecimiento de los residuos, se obtiene una predicción de toneladas de residuos electrónicos 
            que se generarán en un periodo determinado.
          </p>
        </mat-card-content>

      </mat-card>

      <div>
        <img src="assets/Portada.png" alt="Descripción de la imagen" class="custom-image"/>

      </div>
</body>