/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: 10%;
  }

  .texto {
    display: flex;
    align-items: center;
    margin-top: -2%;
    margin-bottom: -2%;
  }
  
  .info {
    color: rgb(255, 255, 255);
    font-family: 'Bebas Neue Pro', sans-serif;
    font-weight: bold;
    line-height: 0.7;
    font-size: 3em;
    margin-top: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
 .seccionDeOpciones {
    background-color: rgb(56, 174, 127);
    overflow: hidden;
  }
  
  .opciones {
    display: flex;
  }
  
  .opciones a {
    float: left;
    display: block;
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-family: 'Bebas Neue Pro', sans-serif;
  }
  
  .opciones a:hover {
    background-color: rgb(45, 139, 102);
    color: #fff;
  }
  
  .opciones a.active {
    background-color: rgb(45, 139, 102);
    color: #fff;
  }

  .content-container {
    display: flex;
    align-items: flex-start; /* Alinea los elementos en la parte superior */
    gap: 1px; /* Espaciado entre la imagen y el texto */
    padding: 16px;
  }
  
  .image-container {
    flex: 1; /* Permite que la imagen ocupe el espacio necesario */
    max-width: 40%; 
    margin-left: 5%;
    margin-top: 2%;/* Limita el ancho máximo de la imagen */
  }
  
  .custom-image {
    width: 100%;
    height: 100%; /* Mantiene la proporción de la imagen */
    border-radius: 90px;
    
  }
  
  .prediccion-card {
    flex: 1; /* Permite que el texto ocupe más espacio que la imagen */
    padding: 19px;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    max-width: 730px;
    margin-top: 9%;
    margin-left: 85px; /* Limita el ancho máximo del texto */
  }
  
  .custom-font-size {
    font-size: 20px;
    line-height: 1.5; /* Mejora la legibilidad */
  }
  